
<div class="container">
  <h2 class="text-center">Log in</h2>
<span></span>
<form class="bootstrap-form-validation">
   <div class="form-group">
    <label for="email">Email</label><input class="form-control" type="email" ng-model="email" ng-required="true">
  </div>
   <div class="form-group">
    <label for="password">Password</label> <input class="form-control" type="pasword" ng-model="password" ng-required="true">
  </div>
  <div class="form-group">
    <button  class="btn btn-primary" type="submit">Submit</button>
   </div>
</form>
</div>

